<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
            <mimeMap fileExtension=".ipa" mimeType="application/iphone" />
        </staticContent>
    </system.webServer>
</configuration>
